@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
	--font-display: 'Inter', 'sans-serif';
	--color-primary: #ff5f00;
	--color-primary-hover: #fa6e1b;
	--color-secondary: #078691;
	--color-gray: #b4b4b4;
	--color-gray-hover: #c7c5c5;
}
